<!DOCTYPE html>

<html>
<head>
    <link href="~/css/DashboardLayoutStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <div class="container body-content">
        <div class="coverPicture">

            <img src="~/images/Logo.jpg" style="float:left" />
            <div class="topnav">
                <div class="topnav-right">
                    @*// <img src="~/images/MyAccount.png" id="AccountButton" class="dropbtn" onclick="myFunction()">*@
                    <div class="dropdown">
                        <button class="AccountButton">Account</button>
                        <div class="dropdown-content">
                            <a href="#">Your Account</a>
                            <a href="#">Logout</a>
                        </div>
                    </div>
                    <img src="~/images/cart.png" id="cart" />
                </div>
            </div>
        </div>

    </div>
    <div>
        @RenderBody()
    </div>
    <script type="text/javascript">
        function buttonclick() {
            document.getElementById('Select1').click();
        }
    </script>>
</body>
</html>
