<body style=" margin: 0; padding: 0;">
    <div style="padding: 70px;
        margin-left: 70px;">
        <h3>@ViewData["Message"]</h3>
        <h4><a href="/Home/Index">Click here to login</a></h4>

    </div>
</body>
