<head>
    <link rel="stylesheet" type="text/css" href="~/css/HomeStyle.css" />
</head>
   <body onload="ShowResetPassword()">
        <div class="modal fade" id="ShowResetPassword" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="~/images/fruit.png" class="fruitlogo" />
                        <img src="~/images/Logo.jpg" class="imagelogo" />
                        <span id="ResetError"></span>
                        <form id="ResetForm">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input class="form-control" type="password" name="Password" id="ResetPassword" placeholder="Password" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input class="form-control" type="password" name="ConfirmPassword" id="ResetConfirmPassword" placeholder="Confirm Password" />
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-info form-control" id="ResetButton" name="Reset" onclick="DoReset()">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>

   <script type="text/javascript" language="javascript">

       var resetForm = document.getElementById("ResetForm");
       var resetError = document.getElementById("ResetError");
       var resetPassword = document.getElementById("ResetPassword");
       var resetConfirmPassword = document.getElementById("ResetConfirmPassword");
       var resetButton = document.getElementById("ResetButton");
       var resetForm = document.getElementById("ResetForm");

       function ShowResetPassword() {
           if ('@ViewData["Message"]' == "valid") {
               resetForm.style.display = "block";
               resetError.style.display = "none";
           }
           else {
               resetForm.style.display = "none";
               resetError.style.display = "block";
               resetError.innerHTML = "Link Already Expired!";
           }
           $("#ShowResetPassword").modal();
       }
       function DoReset() {
           resetError.style.display = "none";
           if (resetPassword.value == "") {
               resetPassword.focus();
               resetError.style.display = "block";
               resetError.innerHTML = "Please enter Password!";
           }
           else if (resetConfirmPassword.value == "") {
               resetConfirmPassword.focus();
               resetError.style.display = "block";
               resetError.innerHTML = "Please confirm Password!";
           }
           else if (resetConfirmPassword.value != resetPassword.value) {
               resetConfirmPassword.focus();
               resetError.style.display = "block";
               resetError.innerHTML = "Passwords do not match!";
           }
           else {
               var queryString = window.location.search;
               var urlParams = new URLSearchParams(queryString);
               var activation = urlParams.get('id');

               document.body.style.cursor = 'wait';
               var data = {
                   Password: $("#ResetPassword").val(), ActivationCode: activation
               };
               $.ajax({
                   type: 'post',
                   data: data,
                   dataType: 'json',
                   url: "/Home/PasswordReset",
                   success: function (result) {
                       if (result == "Success") {
                           document.body.style.cursor = 'default';
                           alert("Password Reset Successfully!Click OK to login")
                           window.location = "/Home/Index"
                       }
                       else {
                           document.body.style.cursor = 'default';
                           alert(result);
                       }
                   }

               });
           }
       }
   </script>