@model List<ProductsModel>

<head>
    <link href="~/css/WelcomeStyle.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Styles/CSS/3.3.6/bootstrap.min.css" type="text/css" />
</head>
<body>

    <div id="header_div">
    </div>
    <div id="Department_nav">
        <ul>
            <li><a href="#">All Departments</a></li>
            <li><a href="#">Produce</a></li>
            <li><a href="#">Dairy</a></li>
        </ul>
    </div>

    <div class="grid-container" style="z-index:-1">

        @foreach (var item in Model)
        {
            <div class="ItemCard" onclick="location.href='@Url.Action("ProductDetails", "Dashboard", item)'" >
               
                    <button id="plusButton" type="button" >+</button>
                    <img src="@Url.Content(item.ImagePath)" style="width:80%;cursor: pointer;">
                    <label class="productName" data-toggle="modal">@item.ProductName</label><br />
                    <label class="price">$@item.Price per @item.Unit</label>
                    
               
            </div>
        }

   </div>
   
  </body>